*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}:focus,:active{outline:none}html,body,div,ul,*{margin:0;padding:0}h1,h2,h3,pre,form,label,input,p,blockquote,th,td{margin:0;padding:0}img{border:0}ul{list-style:none}a:focus,a:active{outline:none}nav,footer,header,aside{display:block}html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}input,button,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}
/* ------------------------------------ - ----------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
.wrapper {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
/* ---------------------------------- forms --------------------------------- */
.main-content{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: auto;
  padding: 20px 0;
  text-align: center;
  transition: 0.3s ease;
  z-index: -1;
  opacity: 0;
  background: rgba(0,0,0,0.9);
}
.main-content.active{
  display: flex;
  z-index: 100000000;
  opacity: 1;
}
body.lock{
  overflow: hidden;
  z-index: 1000;
}
.button_exit{
  position: relative;
  width: 50px;
  transition: 0.3s ease;
}
.button_exit::after{
  content: "";
  position:absolute;
  width: 100%;
  height: 4px;
  display: block;
  background: white;
  transform: rotate(45deg);
  left: 0px;
}
.button_exit::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  background: white;
  transform: rotate(-45deg);
}
.button_exit:hover{
  opacity: 0.4;
  cursor: pointer;
}
/* forma */
.obratnuj-zvonok{
width: 100%;
max-width: 350px;
  color: white;
  margin: auto 0 ;
}
.form-zvonok{
width: 100%;
display: flex;
flex-direction: column;
padding: 0 20px;
box-sizing: border-box;
}
.form-zvonok div{
padding: 15px 0;
}
.bot-send-mail{
box-sizing: border-box;
width: 100%;
}
.form-zvonok label,.form-zvonok input{
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.form-zvonok label{
margin-bottom: 5px;
font-weight: bold;
}
.form-zvonok input{
  padding: 10px 15px;
  margin-top: 10px;
  background: inherit;
  border: none;
  font-size: 1.3em;
  color: grey;
  border-bottom: 3px solid white;
}
.form-zvonok input::placeholder{
  color:grey;
  transition: 0.3s ease;
  position: relative;
  bottom: 3px;
}
.form-zvonok input:focus::placeholder{
  transition: 0.3s ease;
  color: transparent;
}

.form-zvonok label span{
  color: red;
}
.form-zvonok .bot-send-mail{
  padding: 15px;
  margin-top: 10px;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background:  #3CA3DD;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}
.form-zvonok .bot-send-mail:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.form-zvonok textarea{
  width: 100%;
  max-width: 100%;
  max-height: 280px;
  min-width:100%;
  min-height: 100px;
}

/* --------------------------------- for all -------------------------------- */
.heading{
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  z-index: 2;
  position: relative;
  /* text-shadow: 1px 5px 5px grey; */
  text-rendering: optimizeLegibility;
}
.buttons-request {
  font-size: 1.4;
  background: #3CA3DD;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 12px 54px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  transition: 0.3s ease;
  border: none;
}
.buttons-request:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
/*-------------------------------------------------------------------------*/



.header{
  position: relative;
  padding: 120px 20px 350px 20px;
  top: 0;
  background: url(../img/glavnaya1.png) no-repeat center top / cover;
}
.header .slider{
  width: 100%;
  z-index: 100000;
}
/*nav_bur*/
#navbar {
  width: 100%;
  position: absolute !important;
  top: 0px;
  transition: all 0.5s ease;
  z-index: 100000;
  left: 0;
}
#navbar.fixed {
  position: fixed !important;
  background: white; 
  z-index: 10000;
}
.slider .top_menu nav {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 30px;
}
/*logo*/
.slider .top_menu nav .top_logo{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.slider .top_menu nav .top_logo img{
  display: flex;
  align-items: center;
  max-width: 70px;
}

.top_menu button {
  display: none;
}
.slider .top_menu nav .menu {
  display: flex;
}
.slider .top_menu nav .menu  li a {
  position: relative;
  display: inline-block;
  margin:0 30px;
  color: rgb(0, 0, 0);
  font-size: 1.4em;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  transition: all 0.5s;
}


.slider .top_menu nav .menu li a::after{
  content: "";
  display: inline-block;
  height: 3px;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.4s transform;
  -o-transition: 0.4s transform;
  transition: 0.4s transform;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  background: rgb(0, 0, 0);
  position: absolute;
  top:120%;
  left: 0;
  width: 100%;
}
.slider .top_menu nav .menu li a:hover::after {
  width: 100%;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left
}







.slider .top_menu nav .button_phone a{
  color: white;
  font-weight: 600;
  padding: 15px 33px;
  font-size: 1.4em;
  background: #686868;
  border-radius:4px;
  margin: 0 20px;
  transition: 0.3s ease;
}
.slider .top_menu nav .button_phone a:hover{
  opacity: 0.8;
}
/*contant*/
.slider .oglavline {
  color: white;
  max-width: 900px;
  position: relative;
  top: 100px;
  margin: 0 0 0 40px;
  z-index: 2;
  background: rgba(0,0,0,0.08);
  padding: 15px 5px 100px 5px;
  border-radius:10px;
}
.slider .oglavline .left_oglavline h1{
  font-size: 2.3em;
  font-weight: 600;
  margin: 15px 0 0 0;
}
.slider .oglavline .left_oglavline p{
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  border-radius:10px;
  /* letter-spacing: 0px; */
}
.slider .oglavline .left_oglavline p:nth-child(2){
  
  font-weight: 900;
}
.slider .oglavline .left_oglavline p:nth-child(3){
  font-size: 2em;
}
.slider .oglavline .right_oglavline{
  margin: 35px 0 0 0;
}
.slider .oglavline .right_oglavline p{
  font-size: 1.5em;
  line-height: 25px;
  color: #000000;
}
.header-burger {
  display: none;
}
/* -------- information_by_category_content_spoiler -------- */
.information_by_category_content_spoiler {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 0 0;
}
.spoiler {
  overflow: hidden;
  transition: 0, 5s ease;
  color: #0B2349;
}
.spoiler ul{
  height: auto;
  max-height: 0px;
  transition: max-height 0.3s;
}
.spoiler ul li {
  font-size: 1.4em;
  line-height: 25px;
  color: #000;
  display: inline-block;
}
.spoiler ul li:nth-child(2){
  border-bottom:1px solid black;
}
.spoiler ul li:last-child{
  margin: 20px 0 0 0;
}
.spoiler ul.active{
  max-height: 100vh;
  transition: 0.4s linear;
}
.show-hide{
  position: relative;
  display: inline-block !important;
  align-items: center;
  padding: 12px 30px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.4em;
  color: black;
  transition: 0.4s ease;
  margin: 0 20px;
}
.show-hide:hover {
  cursor: pointer;
  background: #3CA3DD;
  color: white;
  border: 1px solid #3CA3DD;
}
.show-hide.active {
  display: none !important;
}
.oglavline_buttons {
  display: flex;
  margin: 35px 0 0 0;
}


/* ----------------------------- form_with_text ----------------------------- */
.form_with_text{
  padding: 120px 20px;
  position: relative;
  background: #E7E7E8;
}
.form_with_text::after{
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height:120px;
  top: -120px;
  left: 0;
  background: linear-gradient(to top, #E7E7E8, #ffffff00);
}
.form_with-left_sper, .form_with-right_sper {
  position: absolute;
}
.form_with-left_sper {
  left: 10%;
  top: 20px;
}
.form_with-right_sper {
  right: 0;
  top: 20px;
}

.form_with_text .text_content-stock{
  margin: 0px 0 50px 0;
}
.form_with_text .container{
  position: relative;
  z-index: 1;
  display: flex; 
  justify-content: space-between;
  max-width: 1100px;
}
/* forma */
.form_with_text .form_with-form .form_with_obratnuj-zvonok{
  /* background: #ABADB0; */
  background: rgba(156, 156, 156, 0.8);
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.form_with_text .form_with-form .form_with_obratnuj-zvonok .form_with_form-zvonok input{
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  border:none;
  padding: 10px;
  margin: 25px 0;
  font-size: 1.4em;
  background: inherit;
  border-bottom: 2px solid white;
  color:white;
  transition: opacity 0.3s ease;
}
.form_with_text .form_with-form .form_with_obratnuj-zvonok .form_with_form-zvonok input::placeholder{
  color:white;
  transition: 0.3s ease;
  position: relative;
  font-size: 1.3em;
  bottom: 10px;
}
.form_with_text .form_with-form .form_with_obratnuj-zvonok .form_with_form-zvonok input:focus::placeholder{
  transition: 0.3s ease;
  color: transparent;
}
.form_with_text .form_with-form .form_with_obratnuj-zvonok .buttons-request{
  margin: 50px 0 0 0;
}
/* content text */
.form_with_text .container .form_with-text_content{
  width: 100%;
  max-width: 100%;
  font-size: 1.3em;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
  color: black;
  background: #FFFFFF;
}
.form_with_text .container .form_with-text_content h5{
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px 0 0 0;
}
.form_with_text .container .form_with-text_content p{
  margin: 15px 0 0 0 ;
  line-height: 25px;
  font-size: 1em;
}


/* --------------------------------- numbers -------------------------------- */
.nambers_informs {
  padding: 100px 20px;
  position: relative;
  width: 100%;
}
#ambers_info{
  position: relative;
}
.nambers_informs::after{
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height:80px;
  top: -80px;
  left: 0;
  background: linear-gradient(to top, white, #ffffff00);
}

.nambers_informs .left_sper, .nambers_informs .right_sper{
  position: absolute;
  z-index: 1;
}
.nambers_informs .left_sper{
  top: -50px;
  left: 0;
}
.nambers_informs .right_sper{
  right: 0;
  bottom: -200px;
}
.nambers_informs h2 {
  text-align: center;
  position: relative;
  z-index: 1;
}
.nambers_informs .numbers_contant {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  margin: 50px 0 0 0;
}
.nambers_informs .numbers_contant .numbers_text {
  margin-left: 70px;
  position: relative;
  color: black;
  height: 160px;
}
.numbers_contant .numbers_text:first-child {
  margin-left: 0;
}

.numbers_contant .numbers_text .number {
  font-size: 3.5em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin: 30px 0 0 0;
  color: black !important;
  display: flex;
  align-items: center;
}
.number {
  opacity: 0;
}
.numbers_contant .numbers_text .number::after{
  content: '+';
  position: relative;
  font-size: 1em;
  color: black;
}
.viz {
  opacity: 1;
  transition: all 0.5s;
}
.numbers_contant .numbers_text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
.numbers_contant .numbers_text h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  margin: 20px 0 0 0;
}
.numbers_contant .numbers_text .line_numb {
  position: absolute;
  top: 100%;
  margin: 0 auto;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: black;
}

/* ---------------------------------- Our_advantages --------------------------------- */
.our_advantages {
  padding: 80px 20px 80px 20px;
  background: #ABADB0;
  position: relative;
}
.our_advantages .left_sper{
  position: absolute;
  left: 0;
  bottom: -100px;
}
.our_advantages .our_advantages-content {
  text-align: center;
  display: flex;
  flex-direction:column;
  width: 100%;
  position: relative;
  z-index: 1;
}

.our_advantages .our_advantages-content .our_advantages-content-advantageses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0 0 0;
}
.our_advantages .our_advantages-content .our_advantages-content-advantageses *{
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.our_advantages-content-advantageses  .our_advantages-block {
  background: #C4C4C4;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  margin: 15px;
  font-size: 1.4em;
  color: black;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px grey;
  display: inline-block;
  overflow: hidden; 
}


.our_advantages-content-advantageses  .our_advantages-block  i{
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: inline-block;
  margin: 10px 0;
  text-decoration: none;
  transition: all 0.35s ease;
  
}
.our_advantages-content-advantageses  .our_advantages-block:hover  i{
  transform: translateY(-10px);
}
.our_advantages-content-advantageses  .our_advantages-block i{
  font-size: 3.5em;
  color: black;
  transition: 0.3s ease;
}
.our_advantages-content-advantageses  .our_advantages-block p{
  line-height: 25px;
  margin: 20px 0 0 0;
}


/* ------------------------------- what_we_can ?------------------------------ */

.what_we_can {
  padding: 20px 50px;
}
.what_we_can .what_we_can-content {
  margin: 80px 0 0 0;
}
.what_we_can .what_we_can-content .heading{
  text-align: center;
}
.what_we_can .what_we_can-content .we_can-content {
  margin: 40px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blick{
	background: white;
	border-radius: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1300px;
	justify-content: center;
  margin:50px 20px;
}
.cssbackground-sector-header{
  width: 100%;
  max-width: 50%; 
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  order: 1;
  text-align: left;
  position: relative;
  margin: 120px 0 0 0;
}
.cssbackground-sector-header h2{
	font-size: 2.2em;
	font-weight: bold;
  position: relative;

  /* margin: 0 150px 0 0; */
}
.cssbackground-sector-header ul{
  margin: 20px 0 0 0;
}
.cssbackground-sector-header ul h2{
  margin: 0 0 30px 0;
}
.cssbackground-sector-header ul li{
  font-size: 1.4em;
  margin: 10px 0;
  display: block;
  position: relative;
  line-height: 25px;
}
.cssbackground-sector-header ul li::before{
  content: "";
  position:relative;
  width: 5px;
  height:5px;
  border-radius: 50%;
  display: inline-block;
  background: black;
  right: 10px;
  bottom: 5px;
}
.cssbackground-block{
  max-width: 50%;
}
.blick:nth-child(2) .cssbackground-sector-header, .blick:nth-child(4) .cssbackground-sector-header, .blick:nth-child(6) .cssbackground-sector-header{
  order: 0;
  text-align: left;
  align-items: flex-start;
}


/* ------------------------------- all_in-one ------------------------------- */
.all_in-one{
  padding: 0 20px;
  position: relative;
}
.all_in-one .sper{
  position: absolute;
  top: -10%;
  right: 0;
}
.all_in-one_content-blocks{
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
}
.all_in-one_block {
  text-align: center;
  max-width: 320px;
  margin: 50px;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
  transition: 0.3s ease;
}
.all_in-one_block:hover{
  cursor: pointer;
  transform: translateY(-5px);
}

.flipper {
  position: relative;
  width: 320px;
  height: 280px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;  
}
.front, .back {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 20px 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius:20px;
  transition: 0.3s ease;
  box-shadow: 0 5px 10px 0 rgba(145, 145, 145, 0.5);
  background: linear-gradient(to top, #b4ce77de, #678d7bd8);
}
.front {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipper h3 {
  font-size: 1.2em;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.flipper p {
  font-size: 1em;
  line-height: 25px;
}
.header-flipper h3 {
  color: white;
  text-align: center;
  margin: 15px 0 0 0;
}
.header-flipper i{
  font-size: 2.5em;
  color: white;
}
.front p {
  color: #818285;
}
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  color: white;
}
.back h3 {
  position: relative;
}
.back h3:after {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: white;
  margin-left: -25px;
}
.back p {
  padding-top: 3px;
}
.all_in-one_block.anima .flipper{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.all_in-one .all_in-one_texts {
  text-align: right;
  margin: 30px 0 0 0;
}
.all_in-one .all_in-one_texts p{
  font-size: 2em;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: right;
  background:rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius:10px;
}

/* ------------------------------- specialists ------------------------------ */
.specialists {
  background: #ABADB0;
  position: relative;
  margin: 80px 0 0 0;
  padding:80px 20px;
}
.specialists .sper{
  position: absolute;
}
.specialists .sper:first-child{
  top: -200px;
  left: 0;
}
.specialists .sper:nth-child(2){
  top: 0px;
  right: 100px;
}
.specialists .sper:nth-child(3){
  top: 40%;
  right: 0px;
}
.specialists .sper:nth-child(4){
  bottom: 0;
  left: 0px;
}

.specialists_content .heading{
  text-align: center;
  color: white;
  background:rgba(99, 99, 99, 0.3);
  border-radius: 10px;
}
.specialists_content-blocks {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 40px 0 0 0;
}
.specialists_content-blocks .specialists_content-block {
  position: relative;
  display: flex;
  margin: 30px 40px;
  /* padding: 10px; */
  flex-direction: column;
  width: 100%;
  width: 320px;
  background: #E1E1E1;
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.specialists_content-blocks .specialists_content-block img{
  width: 100%;
  max-width: 100%;
  height:auto;
  position: relative;
  top: 0;
  border-radius: 10px;
}
.specialists_content-blocks .specialists_content-block .specialists_content-block-text{
  padding: 15px;
  
}
.specialists_content-blocks .specialists_content-block .specialists_content-block-text h4{
  font-size: 1.5em;
  font-weight: 600;
  overflow: hidden;
  
}

.specialists_content-blocks .specialists_content-block p{
  font-size: 1.2em;
  margin: 10px 0 0 0;
  color: rgb(65, 65, 65);
  line-height: 20px;
  
}




/* -------------------------------- gallery ------------------------------- */
.gallery {
  background: url(../img/bg_gallery.png)no-repeat center top / cover;
  margin: 30px 0 50px 0;
  padding: 55px 30px;
}
.gallery .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery_content_heading {
  text-align: center;
}


/* ------- slider for galery ---- */
.gallery_slider{
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0 30px;
  margin: 100px 0 0 0 ;
}
/* arrows */
.gallery_slider .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 20px;
  border:none;
  transition: 0.5s ease;
}
.gallery_slider .slick-arrow:hover{
  opacity: 0.4;
}
.gallery_slider .slick-arrow.slick-prev{
  left: 0;
  background: url(../img/lefts-arrow\ 2.svg) 0 0 / 100% no-repeat;
}
.gallery_slider .slick-arrow.slick-next{
  right: 0;
  background: url(../img/right-arrow\ 1.svg) 0 0 / 100% no-repeat;
}
/* gallery_slider */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Элемент точки */
.gallery_slider .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery_slider .slick-track{
  padding: 20px 0;
  
}
.gallery_slider .slider_item{
  margin: 0 30px;
  text-align: center;
  box-shadow: 3px 3px 10px grey;
  border-radius: 10px;
  transition: 0.3s ease;
}
.gallery_slider .slider_item:hover{
  opacity: 0.7;
}
.gallery_slider .slider_item img{
  border-radius: 5px;
}
.gallery_slider .slider_item img{
  width: 100%;
}
.gallery_slider .slick-dots li{
  margin: 0 10px;
}
/* Элемент точки */
.slick-dots li button{
  font-size: 0;
  width: 30px;
  height: 3px;
  background: grey;
  border:none;
  border: none;
}
/* Активная точка */
.gallery_slider .slick-dots li.slick-active button{
  border:none;
  background: black;
}

/* for img open */
.image {
cursor:pointer;
}
.popup {
  position: fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  z-index:10000000;
  padding: 20px;
}
.popup_bg {
  background:rgba(0,0,0,0.9);
  position:absolute;
  z-index:1;
  height:100%;
  width:100%;
  top: 0;
  text-align: center;
  padding: 20px;
}
.popup_img {
  position:absolute;
  height:auto;
  z-index:10000000;
  width: 100%;
  padding:20px;
  max-width: 600px;
}

/* ---------------------------- text_content-stock --------------------------- */
.text_content-stock {
  text-align: center;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
}
.text_content-stock p{
  margin: 10px 0 0 0;
}
.text_content-stock p span{
  position: relative;
}
.text_content-stock p span::after{
  content: "";
  position: absolute;
  width: 100%;
  height:2px;
  background: red;
  display: inline-block;
  left: 0;
  top: 50%;
}

/* ----------------------------- form_only-form contacts ----------------------------- */
.form_only-form {
  padding: 100px 20px;
  background: white;
}
.form_only-form-content {
  position: relative;
  z-index: 1;
  display: flex; 
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
}
/* forma */
.form_only-form-content .form_with-form{
  background: #ABADB0;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.form_only-form-content .form_with-form .form_with_obratnuj-zvonok input{
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  border:none;
  padding: 10px;
  margin: 25px 0;
  background: inherit;
  border-bottom: 2px solid black;
  color:black;
  font-size: 1.4em;
  transition: opacity 0.3s ease;
}
.form_only-form-content .form_with-form .form_with_obratnuj-zvonok input::placeholder{
  color:black !important;
  transition: 0.3s ease;
  position: relative;
  font-size: 1.3em;
  bottom: 10px;
}
.form_only-form-content .form_with-form .form_with_obratnuj-zvonok input:focus::placeholder{
  transition: 0.3s ease;
  color: transparent;
  opacity: 0;
}
.form_only-form-content .form_with-form .form_with_obratnuj-zvonok .buttons-request{
  margin: 50px auto 0 auto;
}
/* content text */
.form_only-form-content .contacts_content{
  width: 100%;
  max-width: 100%;
  font-size: 1.1em;
  border-radius: 0px 10px 10px 0px;
  padding: 25px;
  color: white;
  background: #6d6d6d;
  display: flex;
  flex-wrap: wrap;
}
.form_only-form-content .contacts_content .contacts_content-block{
  margin: 20px;
}
.form_only-form-content .contacts_content .contacts_content-block a{
  color: white;
}
.form_only-form-content .contacts_content h5{
  font-size: 1.4em;
  margin: 0 0 20px 0;
}
.form_only-form-content .contacts_content h5 i{
  margin: 0 10px 0 0 ;
}
.form_only-form-content .contacts_content p{
  margin: 10px 0;
}





/* --------------------------------- footer --------------------------------- */
.footer {
  padding: 40px 0 0px 0;
}
.foots {
  display: flex;
  justify-content: space-between;
}
.foots .left-foot {
  display: flex;
}
.foots .left-foot span,
.right-foot span {
  color: white;
  font-weight: 100;
  margin: 0 0 0 5px;
}
.foots .left-foot a,
.right-foot a {
  display: flex;
  align-items: center;
}
.foots .left-foot a:first-child,
.foots .right-foot a:first-child {
  margin: 0;
}
.foots .left-foot a,
.foots .right-foot a {
  transition: all 0.5s ease;
  color: #555555;
  font-family: Areal, sans-serif;
  margin: 0 0px 0 10px;
  font-size: 13px;
}
.foots .right-foot {
  display: flex;
}
.foots .left-foot a:hover,
.foots .right-foot a:hover {
  color: #c7b299;
  cursor: pointer;
}
.foots .left-foot a:after,
.foots .right-foot a:after {
  content: "";
  height: 13px;
  width: 1px;
  margin: 0 0 0 10px;
  color: white;
  display: inline-block;
  background: #363636;
}
.foots .left-foot a:last-child:after,
.foots .right-foot a:last-child:after {
  display: none;
}